/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

/* ===== Numéro 1 ===== */
body {
    font: 400 1.8rem/160% 'PT Sans', sans-serif;
}


/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

/* ===== Numéro 2 ===== */
.wrapper {
    max-width: 1100px;
    margin: 0 auto 0 auto;
}


/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/
/* ===== Numéro 3f ===== */
header {
    padding: 20px 0;
}

/* ===== Numéro 3a ===== */
header .wrapper {   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ===== Numéro 3b ===== */
.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font: 700 4.0rem 'Nunito', sans-serif;
    text-decoration: none;
    color: #444;
}

/* ===== Numéro 3c ===== */
.menu ul {
    margin: 0;
    padding: 0;    
    list-style-type: none;
    display: flex;
    gap: 30px;
}

/* ===== Numéro 3d ===== */
.menu a {
    color: #000;
    font: bold 1.4rem 'PT Sans', sans-serif;
    padding: 5px 10px;
    /* Pas regroupable */
    text-transform: uppercase;
    text-decoration: none;
    /* Ajout bordure invisible */
    border: 2px solid transparent;
}

/* ===== Numéro 3e ===== */
.menu a:hover {
    border: 2px solid #000;
}

/* ===== Numéro 4a ===== */

.hero {
    background: url('../images/hero.jpg') no-repeat center right / cover;
}

/* ===== Numéro 4b ===== */
.hero .wrapper {
    display: flex;
    min-height: 650px;
    justify-content: left;
    align-items: center;
}

/* ===== Numéro 4c ===== */
.hero .contenu {
    max-width: 50%;
    color: #fff;
}

/* ===== Numéro 4d ===== */
.hero h1 {
    font: 100 10rem/100% 'Nunito', sans-serif;
    margin: 0 0 20px 0;
    color: #F2545B;
}

/* ===== Numéro 5c ===== */
.athletes {
    padding: 100px 0;
}

/* ===== Numéro 5a ===== */
.athletes h2 {
    font: 700 5rem Nunito, sans-serif;
    margin: 0 0 50px 0;
    letter-spacing: 0.05em;
}

/* ===== Numéro 5b ===== */
.athletes p {
    margin: 0 0 50px 0;
}

/* ===== Numéro 5d ===== */
.athletes-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

/* ===== Numéro 5e ===== */
.athletes-photos img {
    width: 100%;
}

/* ===== Numéro 5f ===== */
.athlete1 {
    grid-column: span 2;
    grid-row: span 2;
}


/* ===== Numéro 6a ===== */
footer {
    background: black;
    width: 100%;
}

footer .wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0;
}

/* ===== Numéro 6b ===== */
.menu-social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}

/* ===== Numéro 6c ===== */
footer .wrapper .menu-social a {
    color: #fff;
    background-color: #F2545B;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* ===== Numéro 6d ===== */
footer .menu-social a:hover {
    background: gray;

}